.tiles {
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}

.tile_image {
    height: 230px;
    width: 250px;
    border-radius: 4px;
    object-fit: cover;

}

.tile_title {
    font-size: 20px;
    max-width: 245px;
    margin-bottom: 10px;
}

.recipe_button {
    text-decoration: none;
    background-color: rgb(95, 235, 95);
    color: black;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.recipe_button:hover {
    transform: scale(1.2);
}

.icon_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    width: 250px;
}

.icon {
    /* color: rgb(211, 203, 203); */
    margin: 0px;
    margin: 4px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.3);
    color: red;
}
.div_tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.remove_button{
    background-color: rgb(95, 235, 95);
    color: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}
.remove_button:hover{
    transform: scale(1.2);
}